<div class="mb-4 h2 text-success">
    Sign up
  </div>
  <form [formGroup]="form" (ngSubmit)="onSubmit()">
    <div class="mb-3">
      <input class="form-control bg-body-secondary" placeholder="Full Name" formControlName="fullName">
      <div class="error-feedback" *ngIf="hasDisplayableError('fullName') && form.controls.fullName.hasError('required')">
        Please enter your full name.
      </div>
    </div>
    <div class="mb-3">
      <input class="form-control bg-body-secondary" placeholder="Email" formControlName="email">
      <div class="error-feedback" *ngIf="hasDisplayableError('email')">
        <div *ngIf="form.controls.email.hasError('required')">
          Please enter your email address.
        </div>
        <div *ngIf="form.controls.email.hasError('email')">
          Please enter a valid email address.
        </div>
      </div>
    </div>
    <div class="mb-3">
      <input class="form-control bg-body-secondary" placeholder="Password" formControlName="password">
      <div class="error-feedback" *ngIf="hasDisplayableError('password')">
        <ng-container [ngSwitch]="form.controls.password.errors | firstKey">
          <div *ngSwitchCase="'required'">
            Please enter your password.
          </div>
          <div *ngSwitchCase="'minlength'">
            Atleast 6 characters required.
          </div>
          <div *ngSwitchCase="'pattern'">
            One or more special character(s).
          </div>
        </ng-container>
        
      </div>
    </div>
    <div class="mb-3">
      <input class="form-control bg-body-secondary" placeholder="Confirm Password" formControlName="confirmpassword">
      <div class="error-feedback" 
      *ngIf="hasDisplayableError('confirmpassword') && form.controls.confirmpassword.hasError('passwordMismatch')">
        Passwords doesn't match.
      </div>
    </div>
    <div class="mt-4">
      <button type="submit" class="btn btn-success w-100 rounded-3">
        Register
      </button>
    </div>
  </form>
  <style>
    .register-container {
    background-color: white; /* Background color for the form */
}

.register-container .form-control {
    border-radius: 8px;
    transition: border 0.3s ease-in-out;
}

.register-container .form-control:focus {
    border-color: #28a745; /* Green focus border */
    box-shadow: 0 0 8px rgba(40, 167, 69, 0.2);
}

.error-feedback {
    font-size: 0.9rem; /* Smaller font size for error messages */
}

.shadow {
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.1); /* Subtle shadow for the form container */
}
.btn {
    background: linear-gradient(135deg, #28a745, #6DD5FA); /* Gradient from green to light blue */
    border: none; /* Remove default border */
    color: white; /* Text color */
    transition: transform 0.3s, box-shadow 0.3s; /* Animation on hover */
}

.btn:hover {
    transform: translateY(-3px); /* Lift effect on hover */
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.2); /* Shadow on hover */
}
  </style>